@font-face {
    font-family: 'NorseBold';
    src: url(./Norse-Bold.otf);
}

a{
    color: whitesmoke;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;   
}

.left{
    width: 30vw;
    background-image: url(./background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
}

.logo{
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    font-family: NorseBold, sans-serif;
    font-size: 120px;
}

.logo img{
    height: 130px;
}

.right{
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    font-family: sans-serif;
}

.text{
    padding: 25px;
    width: 50%;
}

.form{
    background-color: whitesmoke;
    border: none;
    box-shadow: 5px 5px 27px -5px #000;
}

.form_header{
    font-size: 28px;
}

li{
    list-style: none;
    padding-top: 20px;
}

ul{
    column-count: 2;
    width: 60%;
}

input{
    font-size: 18px;
}

.pass_info{
    display: none;
}

.pass:hover + .pass_info{
    display: block;
    width: 400px;
    position: absolute;
    background-color: whitesmoke;
}

button{
    background-color: #596D48;
    font-size: 26px;
    padding: 15px;
    border-radius: 15px;
}

button, .login{
    margin: 35px;
    color: #000;
}

